*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 223, 226);
    min-height: 100vh;
}

.login_form{
    background-color: rgba(235, 117, 210, 0.644);
    border-radius: 2rem;
    /* width: 50%; */
}

.login_form img{
    width: 100%;
    height: 100%;
}